@import "./vars.scss";
@import "./mixins.scss";

html {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    transition: background 0.1s linear, opacity 0.1s linear, filter 0.1s linear, transform 0.15s ease-out;
}

a {
    &,
    &:hover,
    &:active {
        text-decoration: none;
        color: $text;
    }
}

h1,
h2,
h3,
h4,
h5 {
    &:first-child {
        margin-top: 15px;
    }
}

.center {
    text-align: center;
}

.empty-info {
    text-align: center;
    padding: 10px;
    color: $light-gray;
}

.error {
    text-align: center;
    color: $red;
    border-radius: 3px;
    border: 1px $red dashed;
    margin: 5px 0;
    padding: 4px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;

    background-color: $bg;
    font-family: sans-serif;
    color: $text;

    height: 100vh;
}

.page {
    justify-content: center;
}

img {
    width: 100%;
    object-fit: contain;
}

@import "./img.scss";
@import "./components/canvas.scss";
@import "./components/curtain.scss";
